.default {
  position: fixed;
  top: 10px;
  left: 10px;
  font-family: 'lcd';
  font-size: 7rem;
  color: rgba(0, 255, 0, .4);
  top: 40%;
  animation: bounceInUp 1.5s ease 0s both;
  opacity: 0;
  width: 100%;
  text-align: center;
  cursor: none;
}


@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
